<h1 class="page-header">Track</h1>
<div class="tracker-body" fxLayout="column" fxLayoutGap="20px" >
    <div fxLayout="row" fxLayoutGap="20px">
        <div class="container track-input" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" fxFlex="70"> 
            <label>Add Food Log</label>
            <p-tabMenu [model]="foodLogMethods"></p-tabMenu>
            <app-quick-add *ngIf="quickAddSelected" fxFlex></app-quick-add>
            <app-search *ngIf="!quickAddSelected" fxFlex></app-search>
        </div>
        <div class="container track-input" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" fxFlex="30"> 
            <label fxLayoutAlign="center center">Add Weight Log</label>
            <app-weight-track fxFlex></app-weight-track>
        </div>
    </div>
    
    <div class="container track-history"  fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="20px">
        <p class="no-entries" *ngIf="localStorageService.getData('foodLogs').length==0">Daily food log is empty</p>

        <label>Food Log</label>
        <div fxLayout="row" fxLayoutGap="10px">
            <button pButton class="date-navigation-buttons" (click)="onDecrementDay()">
                <i class="pi pi-angle-left"></i>
            </button>
            <p-calendar [(ngModel)]="selectedDate" [touchUI]="true" #calendar></p-calendar>
            <button pButton class="date-navigation-buttons" (click)="onIncrementDay()">
                <i class="pi pi-angle-right"></i>
            </button>
        </div>
        <div class="container food-log-container" fxLayout="column">
            <p-table class="food-log-table" [value]="localStorageService.getData('foodLogs')" [scrollable]="true"  scrollHeight="550px" *ngIf="localStorageService.getData('foodLogs').length!=0">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th >Name</th>
                        <th >Calories (kCal)</th>
                        <th >Fat (g)</th>
                        <th >Carbs (g)</th>
                        <th >Protein (g)</th>
                        <th >Time</th>
                        <th ></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td >
                            {{ rowData.name}}
                        </td>
                        <td >
                            {{ rowData.calories}}
                        </td>
                        <td >
                            {{ rowData.fat}}
                        </td>
                        <td >
                            {{ rowData.carbs}}
                        </td>
                        <td >
                            {{ rowData.protein}}
                        </td>
                        <td >
                            {{  rowData.time | date: 'h:mm a' }}
                        </td>
                        <td>
                            <button pButton class="food-log-entry-delete" (click)="trackingService.deleteFoodLog(rowData.id)">
                                <i class="pi pi-trash"></i>
                            </button>
                        </td>
                        
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>